# SPDX-FileCopyrightText: 2023 The Pion community <https://pion.ly>
# SPDX-License-Identifier: MIT

### JetBrains IDE ###
#####################
.idea/

### Emacs Temporary Files ###
#############################
*~

### Folders ###
###############
bin/
vendor/
node_modules/

### Files ###
#############
*.ivf
*.ogg
tags
cover.out
*.sw[poe]
*.wasm
wasm_exec.js
/.scp/
/generated/
